extends layout

block content
	style(type='text/css').
		html {
			background-color: #000;
		}
	div#profiles
		article
			div#intro.abid
				div.bgFallback
					img(src="/images/art/bg-abid.jpg" alt="")
				div.text.bg-gradient
					div.introParagraph
						h1 Abid
						h2 TURKEY
						p 
							span.firscharacter
								|A
							|bid Borhun, graduate of six of Syrian President Bashar al-Assad’s prisons, and veteran of the jihad against his rule, sits on the ground facing the late afternoon sun with his unfeeling legs splayed before him, hands propped on pillows, a colostomy bag collecting waste from his bowels, a severed spinal cord, three shattered vertebrae and bullet fragments from a Syrian army sniper lodged in his chest.
						p “I never lost consciousness,” he says. “I remember everything.”
				p.photo-caption Michael Petrou/National Post
				div.more-icon
					img(src="/images/icons/arrow.svg")
			div#intro-block
			p A year and a half ago Borhun and fellow members of the Ahrar al-Sham rebel group prepared to launch a nighttime assault on a hilltop held by Syrian army soldiers in Idlib province, in northern Syria.
			p They prayed together, attacked and took the hill, he says. And then, crouching in a too-shallow trench, the sniper’s bullet pierced his neck. “I tried to scream but no sound came out,” Borhun says.
			p He started to whisper the shahada, the Muslim declaration of faith: “There is no god but God, and Mohammad is the messenger of God.” His comrades noticed and encouraged his recitations, easing him toward death.
			p But Borhun survived and was taken to the Turkish border, where authorities immediately allowed him entry. He began months of treatment in Turkish hospitals. For six weeks, his lungs bled and he couldn’t talk. Slowly he began to recover.
			p Bohrun now lives in Reyhanli, a town on the Syrian-Turkish border, among thousands of other Sryian refugees. He lives there with his wife and four children, aged eight, seven, five and 18 months. He has given the youngest, Ibrahim, the nickname Erdogan, after the Turkish prime minister, Recep Tayyip Erdogan, out of gratitude for help and hospitality.
			p Bohrun might never have ended up here, but for the capricious cruelty of Assad’s dictatorship.
			p In 2014 Bohrun was living in Damascus, working as a businessman and avoiding politics. “I had nothing to do with any of this before. I was working and then going home. I hadn’t even taken part in the demonstrations,” he says, referring to popular protests against Assad that began in 2011. A nephew lifts a small cup of thick Syrian coffee to his lips as he speaks.
			p But Bohrun was nevertheless arrested while leaving the city for his home on the outskirts of Homs, one of the first Syrian cities to rebel against Assad. His captors accused him of terrorism.
			p “What I saw in prison I hadn’t even seen in films,” he says. “I felt near the end of my breath.”
			p He was beaten, hung by his wrists tied together behind his back, shocked with electricity, nearly drowned and forced into a tire and left that way for 12 hours. “They ask you in prison who is your lord. If you say God, they torture you more. You must say it is Assad.”
			p Bohrun had been warned by other prisoners not to confess, no matter how terrible the tortures. After two months he was released, sick and temporarily broken.
			p “As soon as I was well enough I joined the fighters,” he says.
			p “It’s true that I have been through all this but I’m not upset. It’s all for the sake of God. This is what God has written for me. Our prophet would fight for the sake of God and be rewarded. I will be rewarded for this in paradise.”
			p Asked about his future, Bohrun says he accepts his condition. “For me, if I stay like this, praise God, I will be happy and not complain.” But he hopes his sons will not have to suffer as he has, or live as he now does.
			p And as for Syria, he hopes for victory. “I want everyone to know about the beauty of Islam. I want Islam to spread,” he says. “No matter what country, I want Islam to spread.”

block scripts
	

	