extends layout

block content
	style(type='text/css').
		html {
			background-color: #000;
		}

	div#profiles
		article
			div#intro.fatima
				div.bgFallback
					img(src="/images/art/bg-fatima.jpg" alt="")
				div.text.bg-gradient
					div.introParagraph
						h1 FATIMA
						h2 ZATAARI CAMP, JORDAN

						p
							span.firstcharacter 
								|A 
							|propaganda poster produced by the Spanish government amid that country’s civil war 80 years ago showed a photograph of a dead child, apparently killed in an air raid, and the message: “If You Tolerate This Your Children Will Be Next.”
				p.photo-caption Mohamad Abazeed/Getty Images
				div.more-icon
					img(src="/images/icons/arrow.svg")
			div#intro-block
			p It was a plea to the world’s democracies to come to the aid of the Spanish Republic instead of standing by while it was assaulted by Francisco Franco and his allies Adolf Hitler and Benito Mussolini. The plea failed, but the message has resonated ever since, even turning up as the title of a hit song by the Welsh band Manic Street Preachers in 1998.
			p It was repeated recently by Fatima Farawan in a sprawling refugee camp in northern Jordan to explain why she marched in defiance of bullets fired by Syrian President Bashar al-Assad’s soldiers six years ago. 
			p “Those children were like my son. One day it would be his turn,” she says.
			p She speaks of a group of school boys in the southern Syrian city of Daraa who, in February 2011, spray-painted a slogan on their school wall that ignited a revolution.
			p “It’s your turn, Doctor,” one of the boys wrote, a reference to Assad, who is a trained ophthalmologist.
			p In the weeks before this pivotal event, popular demonstrations had overthrown longstanding dictators in Tunisia and Egypt. The graffiti, even if the motivations of those behind it were more cheeky than subversive, was seen as a threat. The boys were arrested and tortured. A delegation that petitioned the local security chief on their behalf was told to forget about them, and sent away.
			div.pq
				div.pq-cont The soldiers were our brothers. We were never afraid of them. Then the gunfire started.
			p Residents of Daraa and nearby villages — including Farawan — marched to demand their release.
			p “The soldiers were our brothers. We were never afraid of them,” Farawan recalled. “Then the gunfire started.”
			p Protesters were shot dead. Funerals sparked more demonstrations and more killings. When the boys were finally freed, the site of the battered bodies did little to calm popular anger. The uprising spread across Syria and into civil war.
			p Daraa has been known ever since as the birthplace of the Syrian revolution.
			p In the months after those initial protests, Syrian regime forces raided Farawan’s home and arrested her husband, Mahmoud Nasser. Her son, Omar, then about seven years old, tried to stop the soldiers from taking Nasser. They hit him and pushed him away.
			p Farawan and Omar fled to Jordan and moved into the Zataari refugee camp. She didn’t expect to see Nasser again and told Omar his dad was a martyr.
			p Nasser survived prison and was released after a year. When he joined them at Zataari he was withdrawn and looked skeletal. Omar refused to approach him, Farawan says.
			p Nasser had been tortured in ways Farawan won’t discuss. Years later, he still can’t sleep at night and has panic attacks when he sees police.
			p Omar, now 12, suffers too. “Even now he is afraid of police and planes and fireworks,” Farawan says. He’s received some counselling at the camp, where Farawan, who attended one year of university before the civil war in Syria, works supervising other children.
			p Farawan also has a four-year-old daughter, Islam. It took Nasser awhile to get used to her. He didn’t know Farawan was pregnant when he was arrested and was surprised to see the little girl upon his release. “Whose baby is that?” he asked. For a while Islam called her father “Uncle.”
			p “I don’t regret it,” Farawan says of her participation in some of the first demonstrations of the Syrian revolution. The regime’s murderous reaction to the protests showed the world its true face, she says.
			p Farawan lost almost everything as a result. Her house in Syria was burned down. Her husband is too physically and psychologically damaged to work. She doubts she’ll ever return home. But she didn’t tolerate the torture of other mothers’ children. Her own children weren’t next.
block scripts
	