extends layout

block content
	div#slideout
		div.slideout-close.vc ✕
		div.gallery
			div.gal-cont
				div.gal-ft
				div.gal-caption
					p Drawings made by refugee children
				div.gal-nav
					div.back.vc
						img(src="/images/icons/arrow.svg")
					div.next.vc
						img(src="/images/icons/arrow.svg")
	div.feature
		a(name="intro")
		div.hed-img.fw.ft1
			div.more-icon
				img(src="/images/icons/arrow.svg")
			div.bgFallback
				img(src="/images/art/ft-region-01.jpg" alt="")
		div.titleCont
			div.hedCont
				h1.the THE
				h1.greatest GREATEST
				h1.exodus EXODUS
				h1.of OF OUR 
				h1.gen TIME
			div.subCont
				h2.sub.ds The emptying of Syria is the greatest forced migration of humanity in modern times. Millions of individually shattered lives will reshape the Middle East — and the world beyond — for generations to come
				h3.byline.ds By: Michael Petrou
		div#introBlock
		p.first
			span.firstcharacter
				|E
			|verybody has his own story about how he escaped,” says Ahmad Odaimi, a Syrian doctor from Homs, now in exile in Turkey. 
		p His began in the early days of the civil war when he covered shifts at a government hospital for a friend, a fellow doctor who would crawl through 100 metres of an excrement-filled sewer pipe to reach rebel territory and treat wounded fighters there.
		p Another friend with connections inside Syria’s security services warned Odaimi that his ruse had been discovered and he was wanted by forces loyal to President Bashar al-Assad. He fled immediately to the opposition-controlled neighbourhood of al-Waer in central Homs, and eventually made it to Gaziantep in southeastern Turkey.
		div.map-ft
			img(src="/images/art/region-map.jpg" alt="region map")
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:10.1174%;margin-top:-9.1px;left:62.4855%;margin-left:-4.3085%;width:83px;')
				p.g-pstyle0 GEORGIA
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:19.5251%;margin-top:-9.1px;left:75.7231%;margin-left:-5.7979%;width:111px;')
				p.g-pstyle0 AZERBAIJAN
			div.g-Layer_1.g-aiAbs.g-aiPointText.ph-ankara(style='top:22.2909%;margin-top:-8.9px;width:51px;')
				p.g-pstyle1 Ankara
			div.g-Layer_1.g-aiAbs.g-aiPointText(style='top:27.9073%;margin-top:-10.2px;left:41.6498%;margin-left:-4.4149%;width:85px;')
				p.g-pstyle2 TURKEY
			div.g-Layer_1.g-aiAbs.g-aiPointText.dis940(style='top:30.1523%;margin-top:-9.1px;left:8.2303%;margin-left:-3.7234%;width:72px;')
				p.g-pstyle0 GREECE
			div.g-Layer_1.g-aiAbs.g-aiPointText(style='top:48.1163%;margin-top:-10.2px;left:49.2617%;margin-left:-3.3511%;width:65px;')
				p.g-pstyle3 SYRIA
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:48.2707%;margin-top:-9.1px;left:30.668%;margin-left:-3.5638%;width:69px;')
				p.g-pstyle0 CYPRUS
			div.g-Layer_1.g-aiAbs.g-aiPointText(style='top:52.6459%;margin-top:-10.2px;right:57.4663%;width:100px;')
				p.g-pstyle4 LEBANON
			div.g-Layer_1.g-aiAbs.g-aiPointText.ph-beirut(style='top:55.7404%;margin-top:-8.9px;width:46px;')
				p.g-pstyle1 Beirut
			div.g-Layer_1.g-aiAbs.g-aiPointText(style='top:57.3083%;margin-top:-8.9px;left:43.8653%;width:72px;')
				p.g-pstyle1 Damascus
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:58.2011%;margin-top:-9.1px;left:61.4819%;margin-left:-2.3404%;width:46px;')
				p.g-pstyle0 IRAQ
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:58.7237%;margin-top:-9.1px;left:86.7397%;margin-left:-2.3936%;width:47px;')
				p.g-pstyle0 IRAN
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:63.9502%;margin-top:-9.1px;left:36.3868%;margin-left:-3.3511%;width:65px;')
				p.g-pstyle0 ISRAEL
			div.g-Layer_1.g-aiAbs.g-aiPointText.ph-amman(style='top:65.8449%;margin-top:-8.9px;width:53px;')
				p.g-pstyle1 Amman
			div.g-Layer_1.g-aiAbs.g-aiPointText(style='top:70.2417%;margin-top:-10.2px;left:45.7808%;margin-left:-3.2447%;width:63px;')
				p.g-pstyle2 SYRIA
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:82.0687%;margin-top:-9.1px;left:23.9355%;margin-left:-2.9787%;width:58px;')
				p.g-pstyle0 EGYPT
			div.g-Layer_1.g-aiAbs.g-aiPointText.disP(style='top:83.567%;margin-top:-17.7px;left:56.7754%;margin-left:-3.5106%;width:68px;')
				p.g-pstyle0(style="margin-bottom:3px;") SAUDI
				p.g-pstyle0 ARABIA
			div.g-ai2html-settings.g-aiAbs.g-aiPointText.dis940(style='top:87.4542%;margin-top:44px;left:91.9138%;margin-left:-1.2234%;width:25px;')
				p.g-pstyle5 km
			div.g-ai2html-settings.g-aiAbs.g-aiPointText.dis940(style='top:91.7966%;margin-top:-8.9px;left:87.326%;margin-left:-0.4787%;width:11px;')
				p.g-pstyle6 0
			div.g-ai2html-settings.g-aiAbs.g-aiPointText.dis940(style='top:91.7966%;margin-top:-8.9px;left:96.4583%;margin-left:-1.3298%;width:27px;')
				p.g-pstyle6 320
		div.img-sm.right
			img(src="/images/art/ahmad-odaimi.jpg" alt="ahmad odaimi")
			p.caption Dr. Ahmad Odaimi
		p His father and two brothers are still in Syria. When the regime renewed its attack on the neighbourhood where they live, Odaimi found the stress made him lash out at his two small daughters. He took up smoking again to calm his nerves.
		p Jomah Alqasem escaped after his father died in a Syrian government prison.
		p He wasn’t an activist. “He was just an old man,” Alqasem says in a restaurant in Gaziantep, where he, too, now lives.
		p Alqasem’s father was arrested after visiting Alqasem’s older brother in prison. The family paid bribes to keep Alqasem’s father alive but learned he had been tortured, suffered from severe diarrhea and collapsed dead in an overcrowded cell. Guards dragged his body into the hallway and left it there to terrify other prisoners.
		p Before his arrest, Alqasem’s brother did not even take part in demonstrations against Assad’s rule. He joined a rebel group after his release. Vengeance may be too simple an explanation. He was broken inside, Alqasem says. He appeared schizophrenic and said nothing for six months, only staring at the ground and smoking cigarettes. He’s still alive, and perhaps in that sense only is lucky.
		div.pq
			div.pq-cont In Syria, a life is half a dollar.
		p “In Syria, a life is half a dollar,” Alqasem says. “The price of a bullet can end the life of someone who has a wife and kids, a position in the community, whose parents brought him up. Half a dollar wipes him out.”
		p Mohammad’s deliverance came because his parents feared what might become of him if they stayed in Syria. They lived in rural Aleppo province under the control of the so-called Islamic State of Iraq and the Levant of Iraq and the Levant, a violent Islamist group that stampeded through eastern Syria and western Iraq and in 2014 declared the establishment of a caliphate, meaning a state governed by Islamic law and ruled by a political and religious leader known as a caliph. Though now in retreat, ISIL still controls territory in Syria and Iraq roughly the size of Belgium.
		p “If you had long pants, they would cut them,” Mohammad says. “They would force us to go to the mosque and preach jihad at us. We couldn’t cut our hair.”
		p Mohammad, now 15, and safe in a dilapidated tent settlement in Lebanon’s Beqaa Valley, says ISIL’s religious police would pick up kids they saw on the street. A friend was taken and made to attend their classes. “We learned he exploded himself,” Mohammad says. “He was 14.”
		p Hosam, who lives in a poor quarter of Jordan’s capital of Amman, left Darraya, a Damascus suburb and once a centre of opposition to Assad, in December 2011, after he was arrested following a demonstration against the Syrian government. He says he did not take part.
		div.gallery-btn(data-content="gal-drawings")
			div.imgCont.drawings
			div.galCont
				p.title Gallery	
				p.desc Refugee children's drawings
			img(src="/images/icons/ico_gallery.svg" alt="gallery")
		div.gallery-btn(data-content="url-zaatari")
			div.imgCont.zataari
			div.galCont
				p.title 360° Photo
				p.desc Zata'ari Refugee Camp, Jordan
			img(src="/images/icons/ico_360.svg" alt="gallery icon")
		p “They tortured me. They broke my nose and ribs. I couldn’t see what they were beating me with because I was blindfolded,” he says. “And they were swearing at me as they hit me: ‘You want freedom? Take this freedom!’”
		p After three months, Hosam was released, barefoot, from prison. He stayed in Syria for almost two more years. During this time, Darraya was the scene of intense fighting between government and rebel Free Syrian Army fighters. Government planes bombed their neighbourhood, damaging his wife’s hearing. They fled with their extended family to Jordan. Their son, seven, still wets the bed from the trauma.
		p The stories of these Syrian refugees, in Turkey, Jordan and Lebanon, are not unlike those of the 40,000 Syrians who have come to Canada since the election of Justin Trudeau in October 2015, or of the approximately one million Syrian refugees in Europe.
		p Except for this: In the Middle East, there are so many more.
		p Canadians take pride in their country accepting the refugees it has. Private sponsorship groups clamour to host more. And the Trudeau government has trumpeted Canada’s intake of refugees as an example of Canada’s rediscovered internationalism. Trudeau has also pledged more than $1.1 billion in humanitarian and development assistance to be spent over three years in Jordan, Lebanon, Syria and Iraq, much of it related to the Syrian refugee crisis.
		p But for Turkey, Lebanon and Jordan, 40,000 is a rounding error. Jordan, a country with a native population of only 6.5 million, hosts at least one million Syrians. Lebanon, with an even smaller population, hosts some 1.5 million refugees, about one-quarter of the population of the country. And Turkey is thought to have close to three million Syrians on its soil.
		div.img-sm.left
			img(src="/images/art/kilis-mayor.jpg" alt="Mayor of Kilis")
			p.caption Hasan Kara, mayor of Kilis
		p With illegal border crossings and many refugees not registering, no one is sure of the exact figures. Kilis, a small Turkish town on the border with Syria, has a Turkish population of about 94,000; it hosts 135,000 refugees. Hasan Kara, the mayor of Kilis, is proud of this.
		p “As the people of Kilis, we ask everyone, what is the cultural heritage of world? You could say the Seven Wonders or the waterfall in Canada. But for us, the most important cultural heritage is spiritual. It is mercy toward people,” he says.
		p Kara won’t outright criticize Canada for accepting a comparatively small number of Syrians, but he does make a joke that suggests Canada could house all the Syrians it has admitted in one hotel. “I’ve seen Canada,” he says. “It is empty.”
		p All told, the displacement of Syrians, both inside the country’s borders and beyond, represents the biggest forced migration of humanity since the Second World War. What Canada and Europe have encountered is only a fraction of that odyssey. And our shelter from the true scale of the Syrian exodus blinds us to its repercussions.
		p These range from the spiritual to the political to the mundane. Across the Middle East, municipalities hosting refugees struggle to deal with the pressures refugees have placed on services such as garbage collection or sewage treatment. Jordan, short of water before the Syrian war, must now provide it to one million Syrians.
		p Such challenges preoccupy local politicians and refugees, but many of them can be solved or mitigated with money. Others are more profound and difficult to address.
		p There are Syrian refugee kids who will come through their exile unscathed. Some, despite the dire poverty of their families, seek an education with a determination that is humbling and that may result in a personal foundation on which a future might be built — in Syria one day or abroad.
		p But others, hundreds of thousands of them, have had childhoods derailed in ways from which they may never recover.
		p What chance does a 12-year-old boy — who was six when the Syrian war began and has never been to school — have of catching up to his peers elsewhere or even learning to read? What does it mean to come of age in a refugee camp, to have no memories of a time when you lived somewhere without a fence, and to see no path to a future elsewhere?
		p What of a young girl whose nights are spent sleeping in a tarp-walled shelter in a makeshift settlement among other refugees, and days pulling potatoes out of the mud to provide money for a family instead of going to school? What future does she have save early marriage and children who will likely suffer in the same fashion?
		p Such stories seem tragic now, but we are only at the beginning of them. These boys and girls, an entire generation of Syrians, will one day be men and women who will shape Syria and the Middle East. They will have a far more consequential impact on the region then than now.   
		p So far, the social fabrics of Turkey, Lebanon and Jordan are mostly holding. While there is tension and resentment within local populations, in all three countries there is a sense of solidarity with the Syrians who have come to live among them. And yet this goodwill is surely not endless — especially as it becomes clear that many, perhaps most, of the Syrian “guests” will not soon leave. 
		p Then the real ramifications of Syria’s great emptying will start to take shape. Despite six years of war, we don’t know what that will look like. Collectively, Syrian refugees are reshaping the region in a way that will have echoes around the world. But at its heart, this exodus consists of millions of individually shattered lives.
		a(name="child-labour")
		div.ft-img.fw.ft2
		p
			span.firstcharacter
				|A
			|t 13, Faisal Hamdan doesn’t know this will be the last year he attends school.
		p “At some point, we’ll have to tell him,” his father, Mohammad Hamdan, says.  “It’s not a matter of whether I want my children to leave school. It’s necessary. Bread is more important than education at this point.”
		div.img-sm.left
			img(src="/images/art/hamdan-family.jpg" alt="hamdan-family")
			p.caption Mohammed Hamdan with daughters, Rukayah and Halima.
		p Faisal has two sisters, Rukayah, 12, and Halima, 10. Together with their mother, Aayat al-Shibli, the family of five, originally from Homs, share a cinderblock shack behind a chicken coop in the backyard of a Turkish family’s home in Reyhanli, close to the border with Syria.
		p They live in a room divided by plywood and curtains. There is a second room that is too damp for anything but storage. The space is decorated with brightly coloured paper chains and paper dolls crafted at school by the two girls who say they like playing with their friends and, in Halima’s case, studying math and Arabic. The family pays the equivalent of $180 a month for the shelter. Before the war, it might have cost half that, but the volume of refugees in this part of Turkey has inflated rents.
		p Child labour is endemic among Syrian refugees. Poverty is the main factor. Parents without proper work permits also fear deportation and think their children are less likely to be questioned by authorities.
		p Sometimes the work is informal and part-time. Near Faisal’s home in Reyhanli, in a similarly cramped room, live Sulhiya and her six children, aged two to 14. Her husband has an injured neck and cannot work. She cleans houses with help from her eldest child. The others scrounge through alleys and garbage heaps looking for recyclables. On a good day, they can find five-dollars-worth of plastic.
		p Elsewhere, children work as if they were adults. The Turkish city of Mersin sprawls against the north coast of the Mediterranean Sea. Its poorer districts, with their labyrinth streets, razor wire, graffiti and cats, are swollen with refugees. Many work in underground sewing factories, and some of those workers are children.
		div.img-sm.right
			img(src="/images/art/mersin-sisters.jpg" alt="Sisters at Mersin factory")
			p.caption Sisters working at factory in Mersin
		p In one factory, found by chance because of a door left slightly ajar, the owner invites a reporter to return at 4 p.m. when his workers have a 15-minute break. At the appointed time, the machines stop, the 20 or so workers gather and tea is produced among piles of sweatshirts and pajamas with sports logos and not-quite-right English slogans. The owner says his shop works to replicate established brands.
		p Abdul, 15, sports the first trace of a moustache. From Aleppo, he says he earns a little over $100 a month. He says he’d like to go to school but must support his family.
		p His co-workers include two 10-year-old sisters, Hasma and Murphad, also from Aleppo, whose job is to shuttle fabric from piles in the centre of the room to the sewing machines along its walls. Hasma’s hands drift nervously to her mouth when she’s not busy. Neither goes to school. Hasma says she misses it.
		p The owner is asked how much they are paid.
		p “I give them something,” he says.
		div.divider
		p In Lebanon, refugee kids sell tissues and shoeshines or beg on city streets, as in Turkey and Jordan. But among the Syrian refugees in informal tent settlements in the Beqaa Valley, close to Syria and separated from Beirut by mountains, there also exists an almost feudal form of indentured labour.
		p The problem has its origins before Syria’s civil war began. Syrians would come to Beqaa to work seasonally in agriculture. Typically, a man known as the sheweesh stayed during the off-season and organized work for members of his family or village.
		p When the Syrian civil war drove thousands of Syrians into Lebanon, many relied on their sheweesh to arrange transport, pay smugglers and obtain a tent or shack in a camp on rented private land. In the process, refugees accumulated large debts to their sheweesh that must be repaid — through labour. Lebanese landowners in Beqaa still need workers, and the sheweesh hires out refugees who owe him money.
		p Awash, 37, lives in a cramped cinderblock hut with her extended family. The family grew when her father took a second wife who was widowed with five kids. Her own husband doesn’t work. “He’s old,” she says. Her husband is 45. “He’s also fat,” adds her teenage half-brother.
		p This leaves Awash and the children as breadwinners. Rent for residents of the camp, paid to the sheweesh, is about $900 a year per family, more for those who don’t have children who can work. Awash is breastfeeding her youngest child but is forced to leave her for seven hours a day to plant and harvest crops. Most of the children work, too. Twelve-year-old Hassan says the Lebanese farm owner shoots a pistol into the ground near his feet or over his head if he accidentally leaves a potato in the soil.
		p Even Manal, age 10, works in the fields. The bunny, heart and flowers on her zip-up sweatshirt cannot disguise the drawn look of exhaustion on her face that seems utterly out of place in a child so young. She’s never been to school. “I feel very tired,” she says flatly.
		p “I force her to work because the sheweesh needs to get paid and we need to live,” Awash says. She owes the sheweesh more than $1,000, and says she has no idea if she can ever pay the debt.
		p Mawas Mohammad Araji, Mayor of the nearby town of Bar Elias, has heard some Syrian refugees in the area are exploited, but says most refugees are quiet about it.
		p “Syrians are not slaves to their sheweesh. But the problem is nobody reports. If there is a report, we will act,” he says.
		p Ali al-Mohammad, sheweesh at another refugee settlement in the Beqaa Valley, is offended at the suggestion that there might be something about the arrangement deserving of censure.
		p “For two years now I’ve been paying for bread and medicine for families in the camp, even if they owe me money,” he says. He estimates he is owed about $30,000.
		p Mohammad lives among those who work for him, albeit in a nicer structure with frilled fabric on the walls and clean carpets and cushions on the floor. He has been in Lebanon for decades, managing seasonal workers and now refugees. Most in his camp are from Aleppo and Raqqa provinces. He describes his role in a way that makes it sound more like that of a godfather.
		p “A sheweesh is responsible for the camp and the workers. If they need money, I will provide it. I get them work and transport them. If they get hurt, I am responsible.”
		p Asked about kids in the camp, Mohammad says he only employs people who are at least 13 years old.
		div.divider
		p Early marriage, like child labour, robs many Syrian refugees of an education. While it was common before the war in some rural communities for teenaged girls to marry, poverty and social dislocation have exacerbated the trend.
		p Earlier this winter, Mona wed her cousin Abdullah in the mud-filled Beqaa Valley tent settlement where they live. A cellphone video of the wedding shows Mona in a white dress, a crowd of men and women, and snow falling like confetti. There was a musical band and pots of chicken for guests.
		div.pq
			div.pq-cont If I could have stayed in school, I would have loved to be a dentist. I really wish, but now that I am married, that becomes impossible
		p It was a happier affair than the sombre weddings held in ISIL-controlled Deir ez-Zor, from which they fled, she says. But she wishes it had happened later. Mona was 14 or 15 when she got married; Abdullah, 18.
		p “If it was up to me, I would have preferred to wait. But my parents decided and I agreed because it was the right decision. It’s to provide protection. There are a lot of people without morals,” she says.
		p “If I could have stayed in school, I would have loved to be a dentist. I really wish, but now that I am married, that becomes impossible.”
		p Abdullah’s explanation for why he got married is simpler. “I loved her,” he says.
		p Another young bride in the settlement repeats Mona’s explanation about the need for protection. They’re talking about their families’ fear of rape or premarital sex in an environment that is overcrowded, lacks privacy and where normal family structures may be upended by absent or dead fathers and brothers.
		p Sometimes the pressure to get married is financial. In a poor neighbourhood in eastern Amman, a Syrian woman heads a household of two daughters and three grandchildren, largely on her own because her diabetic husband stays with their son in a refugee camp where he can get medical care.
		p “That tea you’re drinking is the last food we have,” she says. She’s deep in debt and her family is often cold and hungry.
		p An unemployed Jordanian neighbour offered her about $15 to marry her daughter. She refused. Stories abound of Jordanian men seeking out Syrian refugee women — in part because Syrian women have a reputation for beauty, and in part because they believe it requires less money to marry them.
		p “I do prefer Syrian women. And they accept anything. Jordanian women want three to four thousand dollars,” says Mohammad Ameri during a life skills class in Jordan’s northern Irbid province that is funded by the Canadian government through the NGO Save the Children Canada.
		p “Even before the Syrian crisis there were no jobs. And now they’re marrying our men? It’s awful,” says Manal Hennawi, adding that she also thinks Syrian women are particularly attractive. She’s half-Syrian herself.
		p Safa Zreiqi, another student, isn’t bothered that young men in her province look for wives among Syrian refugees. “Some of us don’t want to get married,” she says. “We didn’t go to school for nothing. What’s a shame is that we studied and got degrees and can’t get work.”
		a(name="turkey")
		div.ft-img.fw.ft1
		div.locatorMap
			img(src="/images/art/map-turkey.jpg" alt="turkey")
		p
			span.firstcharacter
				|T
			|urkey has been one of the strongest opponents of Assad’s rule, and the Syrian war has had an enormous effect on its politics, security and foreign relations. It backs rebel groups fighting against Assad, and last August deployed troops to northern Syria to confront both ISIL and the predominantly Kurdish militias that are ISIL’s most effective foes in the north. Although Turkey has declared a successful end to its campaign, dubbed “Euphrates Shield,” it maintains a military presence in the area. 
		p And yet, of the three countries in the Middle East hosting the most Syrian refugees, Turkey is the least buffeted by the influx.
		p It is bigger, richer and more populous than Jordan or Lebanon, so the burden is comparatively smaller. And Ankara’s support for opposition groups inside Syria means Turkish authorities are generally sympathetic to Syrians who have fled Assad.
		p Omar Kadkoy, a research associate at the Ankara think tank TEPAV, says Turkey is moving toward “a medium- to long-term integration policy” regarding Syrian refugees. It has accepted that many Syrians will likely stay in Turkey and cannot be kept separate from the rest of the population indefinitely.
		p Turkey is therefore increasing access to the legal labour market for Syrian refugees — a move that is controversial, Kadkoy says, because of high unemployment rates in areas where Syrian refugees have settled. Already, he says, there are some 5,000 businesses in Turkey that are owned or were established by Syrians. And 10,000 Syrians study in Turkish universities.
		div.pq
			div.pq-cont I put (my sons) in school because education is more important than money
		p Language is a barrier. Most Syrians speak Arabic rather than Turkish. And it can be difficult for older Syrian students who have missed several years of school to integrate into the Turkish public education system.
		p Some private charitable schools fill that gap. In Reyhanli, the Al Salam School, founded by the Canadian charity The Syrian Kids Foundation, teaches a modified Syrian curriculum — in Arabic, although Turkish and English are also taught. It educates, free of charge, some 1,500 Syrian refugees and has sent two graduates to study at Concordia University in Montreal.
		p “For a time, my sons were working picking up plastic,” says Ramzi Fatrwi, whose children attend Al Salam. “I put them in school because education is more important than money.”
		p Fewer than 10 per cent of Turkey’s Syrian refugees live in refugee camps. But conditions in those camps are significantly better than in Lebanon’s informal tent settlements — and indeed in many refugee camps elsewhere in the world. The Turkish government-run Nizip 2 camp near Gaziantep has ground covered in paving stones, a mosque, a school, medical care, a supermarket for which camp residents are given cash vouchers, and a community centre where kids take art classes and adults are taught vocational skills such as sewing.
		div.img-fw
			img(src="/images/art/girl-basketball.jpg" alt="Girl playing basketball")
			p.caption A girl plays basketball at Al Salam School in Turkey
		p Turkey’s hospitality, however, is not universal. “They cause problems, the Syrians,” says one resident of Reyhanli. “They have no money, no jobs, no houses. How many can we help?”
		p But Fatrwi recalls a Turkish man who came to visit him after the two prayed together in the local mosque. The man noticed that Fatrwi and his family were sleeping on the floor, so the next day he brought them mattresses.
		p “It is enough that they have let us come to their country,” Fatrwi says. “They have done enough. And I want to keep my pride and not ask for anything.”
		a(name="lebanon")
		div.ft-img.fw.video
			video(autoplay loop)
				source(src="/video/ft-lebanon02.ogg" type="video/ogg")
				source(src="/video/ft-lebanon02.mp4" type="video/mp4")
		div.locatorMap
			img(src="/images/art/map-lebanon.jpg" alt="lebanon")
		p
			span.firstcharacter
				|L
			|ebanon, by contrast, was fragile even before the Syrian civil war disgorged more than one million people into the country.
		p Syria’s decades-long occupation of Lebanon ended only in 2005. Parts of the Lebanon, including southern Beirut, were pummeled in a 2006 war between Israel and the Shia militia group and political party Hezbollah. More recently, political paralysis left Lebanon without a president for two years, until late last year.
		p At the best of times, Lebanon is a delicate patchwork of peoples and religions: Christians, Sunni Muslims, Shia Muslims, Druze and others. Political power is divided accordingly. It’s done so on demographic assumptions that are now out of date, but no one’s interested in re-counting lest doing so fuels calls to re-shuffle how power is allocated.
		p That balance has been challenged by the arrival of the Syrian refugees, most of whom are Sunnis.
		p “If the refugees stay, Sunnis will be the majority. Christians, but also the Druze and the Shia, will emigrate because the Sunnis have an extremist mindset and will eventually take over,” says Diab Madwar, an agricultural worker from the Christian village of Ammiq in the Beqaa Valley.
		p “Of course, I support Assad. The Syrian people wanted freedom. Now they’ve destroyed their country,” he adds. “And we used to be jealous of them.”
		p Hezbollah fights in Syria on behalf of Assad. Its supporters are also unhappy about Sunni refugees in Lebanon.
		p “Why are most of them women and children?” asks Maher Dana, a journalist who works for Hezbollah-affiliated media outlets. “It’s because they have relatives fighting as terrorists inside Syria. That’s why they don’t flee internally. There are safe spaces inside Syria, but most are affiliated with terrorist organizations.”
		p It is suggested to Dana that Syrians may be leaving the country because they fear what might happen to them if Syrian forces detain them.
		div.pq
			div.pq-cont The Syrian army and Hezbollah are doing a huge favour to humanity because they are fighting terrorism on behalf of the world
		p “There is definitely some torturing going on,” he says. “This is war and you can’t control everything. And most people being arrested are terrorists. We’re not going to put them in five-star hotels. The Syrian army and Hezbollah are doing a huge favour to humanity because they are fighting terrorism on behalf of the world.”
		p Anas, a Syrian refugee who lives with six children in a Beirut suburb, worries about sectarian division in her new home. Anas’s husband disappeared in Syria, and she is under extreme financial pressure. She gets by on cash-assistance provided by the UNHCR and the World Food Program. (Many NGOs and aid agencies have adopted the practice of distributing money rather than goods or food because it gives refugees the dignity of choice and channels money into local economies.)
		p Anas and her children previously lived among other Syrians in illegal apartments that were rented to them by a Lebanese landlord. Police raided the flats and she was evicted, losing much of what she had and spending a week homeless before finding a new two-room apartment with help from the UNHCR. She thinks someone in the neighbourhood tipped off the police.
		p “Because of the raid we feel unwelcome here, especially because most of our neighbours are Christians and we are Muslim,” she says. “I didn’t feel hostility before, but now I feel like the Lebanese are looking at us differently. We stay at home and don’t go out. If we need groceries, we go out at night.”
		p Beneath the religious tension, there are often more temporal concerns. “They took all the jobs because their rates are lower than what Lebanese charge, so Lebanese farm owners hire them. And they eat cheap food: sugar, tea, bread, lentils. Lebanese can’t eat like that,” says Karim Farah, who lives in Ammiq.
		p Michelle Cameron, Canada’s ambassador to Lebanon, says: “When it comes down to the fabric of Lebanon, we’re not concerned based on different religions. We’re concerned about social cohesion.”
		p Factors that might cause those ties to tear include competition over employment and services. She says much of the programming Canada funds in Lebanon aims to strengthen social bonds by targeting both refugees and members of host communities.
		p Canadian aid and development funding in Lebanon is given to U.N. agencies or NGOs, not the Lebanese government. Hezbollah’s presence in Lebanon’s government hinders Canada’s relationship with it. “They are a terrorist organization and we have a no-contact policy,” Cameron says.
		p But Ottawa is supporting the Lebanese military. Canadian soldiers will soon be conducting training. And in June, Canada donated more than $4-million worth of winter clothing and mountain-climbing gear to help Lebanese soldiers secure the country’s border with Syria. “Building up a strong Lebanese armed forces means there is no argument for having a Lebanese paramilitary force in the country,” says Cameron, referring to Hezbollah.
		p Canada gives $15 million to UNICEF in Lebanon to help bolster the country’s education system, including improving schools and paying them to educate kids in two shifts so that large numbers of Syrian refugee students can be accommodated.
		p But research by the American University of Beirut’s Issam Fares Institute for Public Policy and International Affairs suggests 61 per cent of school-age Syrian refugees in Lebanon are not in school, and that drop-out rates for refugees in public schools may reach 70 per cent due to factors such as language (much of Lebanese public education is in French or English), financial costs, bullying and adaptation difficulties.
		p “You’re creating a segment of Syrian society that is stuck in a vicious circle of poverty and non-education,” says Nasser Yassin, director of research at the institute.
		p U.N. officials say the neglect is not intentional. Indeed, the task Lebanon faces because of the refugees it has absorbed is overwhelming.
		p That Lebanon has not buckled under these stresses is due to effective municipal governments and civil society groups, help from NGOs and the work that Lebanon’s agricultural sector provides for so many Syrians, says Yassin.
		p These factors probably have a shelf-life, he adds. Lebanon will become more vulnerable as the Syrian war grinds on.
		a(name="jordan")
		div.ft-img.fw.ft3
		div.locatorMap
			img(src="/images/art/map-jordan.jpg" alt="jordan")
		p
			span.firstcharacter
				|J
			|ordan, highly exposed to the repercussions of the Syrian war and refugee crisis, has been damaged by it. It is poor. Its trading economy has been devastated. Resources are taxed. Jordanians complain about competing with Syrians for work.
		p Last year, an ISIL suicide car bomb killed seven Jordanian soldiers on the border with Syria, prompting Jordan to close that border and stranding tens of thousands of Syrians in a makeshift camp on the frontier. Ten people, including a Canadian woman, also died in an attack in the town of Qatraneh, for which ISIL also claimed responsibility.
		p And while Jordan is a member of the international coalition fighting ISIL, some 2,000 Jordanians have joined the group. A source close to the Jordanian government says Jordan isn’t too bothered by this, seeing the outflow as a way to get rid of jihadists.
		p Still, Jordan is relatively stable. Its intelligence services are competent. The country enjoys close relations with several Western nations, including Canada, which is currently conducting a military training mission in Jordan.
		p And, unlike Lebanon, Jordan receives direct funding from Canada. Since 2015, Canada has allocated at least $30 million in refugee-related funding to the Jordanian government. It has gone toward programming that aims to improve Jordan’s education system.
		p Canada has also given Jordan military supplies, including wet weather gear for its soldiers, and material for the construction of “defensive structures” along Jordan’s border with Syria to help prevent incursions by ISIL.
		p Peter MacDougall, Canada’s ambassador to Jordan, describes Canada’s aid to Jordan as humanitarian and strategic: “If Jordan was to tip over, you’d have even greater instability in the region. Our presence here is to provide stability for Jordan in ways we can help them respond to the tremendous pressures that the refugee crisis is putting on the country.”
		p But according to Ayman Halaseh, a professor of human rights and international public law at Al-Isra University in Amman, a factor inhibiting refugees from contributing to Jordan’s economic growth is the lack of protection against exploitation they receive from the state.
		div.pq
			div.pq-cont If you are a Syrian working for me and I don’t pay you at the end of the month, what can you do? Your legal status is ambiguous
		p “It’s becoming more like forced labour,” he says. “They are afraid to claim their rights. If you are a Syrian working for me and I don’t pay you at the end of the month, what can you do? Your legal status is ambiguous.”
		p The result is that many Syrians who might have had highly skilled jobs in Syria are working in Jordan for low wages or under the table.
		p “Don’t think because we live like this we were poor,” says Abed Abdulhamid, a car mechanic from a village near Darayya. He now lives with his family in a small east Amman apartment and works as a security guard and general custodian.
		p “Oh, if I could have hosted you in Syria, you would have seen my workshop and our house. It has two stories and a big garden.”
		p After Abdulhamid’s 14-year-old brother was shot by a sniper as he carried bread home from a neighbourhood bakery, he left Syria. His wife has three brothers of her own who are missing or dead.
		p “We want you to know we had no choice,” he says of leaving Syria. “We fled for the sake of our kids.”
		a(name="canada")
		div.ft-img.fw.ft4
		div.locatorMap
			img.w(src="/images/art/map-world.jpg" alt="world")
		p 
			span.firstcharacter
				|P
			|rime Minister Trudeau’s decision to increase the number of Syrian refugees Canada would accept for resettlement, and to make that policy a cornerstone of his public image, was a deft political move. 
		p The refugees are screened abroad, diminishing the security risk they might present to Canada, and the numbers admitted to Canada, compared with those now in Germany, let alone in Turkey, Lebanon or Jordan, are tiny.
		p Trudeau’s embrace of the Syrian newcomers, when compared to the xenophobic nativism prevailing elsewhere in the world, helped cement his image as a global champion of pluralism.
		p "While that is a great story, I don't want to lose sight of the fact that Canada's engagement must not stop at resettlement," Trudeau told a U.N. conference last year, after a panel moderator mentioned Trudeau personally greeting arriving Syrians at Pearson Airport in Toronto.
		p Here was an acknowledgment that the real impact of the Syrian refugee crisis is not in Canada, but the Middle East. And while the amount of money Canada spends on foreign aid as a percentage of Gross National Income is now near historic lows, the $1.1 billion in aid and development Canada is spending in the countries most affected by the Syrian war and the refugees it has produced is significant.
		p It is also a diversion — a good deed that obscures the fact little has been done to address why Syrians left their homes in the first place.
		div.pq
			div.pq-cont Syrians are blamed for being refugees
		p “Syrians are blamed for being refugees,” says Mahmoud Haman, a Syrian exile in Turkey, “but the reason why we are refugees is not blamed.”
		p The reason he and so many other Syrians are refugees is, of course, the civil war. Far more Syrians have fled Bashar al-Assad’s forces than those of ISIL, and the Syrian regime and its Russian ally have killed more Syrians than any other party in the civil war.
		p Until recently, this fact wasn’t enough for Trudeau’s government to explicitly call for Assad’s departure.
		p “From our perspective, it has to be a Syrian-led initiative. It has to be what the Syrian people want. This isn’t Canada or other groups saying ‘thou shalt’ or ‘thou must,’” Cameron, Canada’s ambassador to Lebanon, said in a March interview, adding: “If we have free and fair elections, I personally could not imagine that the Syrian people would vote to keep Assad in power.”
		p That was before a chemical weapons attack on the Syrian town of Khan Shaykhun in Idlib province in April. More than 70 people, including children, were gassed to death. Canada, the United States and most of their allies believe Assad’s regime was responsible. Syria and Russia denied involvement.
		p U.S. President Donald Trump responded by launching 59 cruise missiles at a Syrian airbase. Days later, Justin Trudeau, speaking at Juno Beach, where Canadian troops began the liberation of Western Europe during the Second World War, said the world needs “to move as quickly as possible toward peace and stability in Syria that does not include Bashar al-Assad.”
		p It’s unclear what, if anything, Canada is prepared to do to bring this about. Certainly, Canada can do little unilaterally, and Trump’s policy on Syria, if he has one, is difficult to discern.
		p But even if Canada will not act to hasten Assad’s downfall, it is nonetheless preparing for it.
		p Trudeau’s Liberal government, like Stephen Harper’s Conservative one before it, funds the Commission for International Justice and Accountability, an investigative body that gathers evidence of war crimes and crimes against humanity committed during the Syrian civil war, and in other conflicts, with a view toward prosecuting the perpetrators.
		p Bill Wiley, its Canadian founder and executive director, says the group has spirited out of Syria more than 700,000 pages of documents related to Syrian government activities. He says the evidence they have compiled implicating the regime in war crimes and other atrocities is strong.
		p Yet the day when Assad might face justice still seems far off, and so, therefore, does a time when Syria’s displaced might return. This means the instability and social tensions caused by the refugee crisis, in the Middle East and beyond, will persist.
		p So, too, will the cumulative life disruptions, personal tragedies and disappointments suffered by the refugees themselves.
		p At the Haya Cultural Center in a suburb of Amman, refugee and Jordanian kids together learn drama, dancing and other activities in a program funded by the Canadian government through the charity World Vision Canada.
		p They recently performed a play. It’s a story about a young boy who is forced to leave his home and who struggles in the country to which he flees, where he is scorned and beaten up.
		div.img-sm.right
			img(src="/images/art/yusuf.jpg" alt="yusuf")
			p.caption Yusuf, 11 years old
		p The plot is a metaphor for the experience of Syrian refugees in Jordan. Yusuf, the 11-year-old Syrian refugee who plays the part of the protagonist, says he sees himself in the story.
		p “It was a chance for me to tell others what happened to me,” he says of his acting role. “I wanted them to feel how I felt when I came here. So I had to try really hard.”
		p In the play, the boy comes to the aid of those who had tormented him, and they reconcile. It’s not that different from Yusuf’s own experience in Jordan. He says he had a difficult time when he arrived and got into several fights with Jordanian boys before becoming friends with them.
		p The play could conclude happily there, but that’s not how it ends. The boy’s new friends help him go home. Yusuf wants the same thing.
		p “It’s where I was raised,” he says of Syria. “It’s my homeland.”
		p.endCred Michael Petrou is the 2017 R. James Travers Foreign Corresponding Fellow. This project was completed with financial support from the R. James Travers Foreign Corresponding Fellowship. 

		footer.fw
			div.credCont
				p.cred Story: <br/>
					span Michael Petrou
				p.cred Illustrations and website: <br/>
					span Brice Hall
				a(href="http://cusjc.ca/travers/" target="_blank")
					img.footer-travers(src="/images/art/jt_logo.png")

