extends layout

block content
	style(type='text/css').
		html {
			background-color: #000;
		}
	div#profiles
		article
			div#intro.khalil
				div.bgFallback
					img(src="/images/art/beqaa-camp-mud.jpg" alt="")
				div.text.bg-gradient
					h1 Khalil
					h2 Beqaa Valley, Lebanon
					p Khalil, aged 43 and the father of eight children, surveys his new home, two months after fleeing his village in the countryside of Deir ez-Zor province in eastern Syria. 
				p.photo-caption Michael Petrou/National Post
				div.more-icon
					img(src="/images/icons/arrow.svg")
			div#intro-block  
			p He lives in an informal tent settlement in Lebanon’s Beqaa Valley. As a recent arrival, he has one of the worst locations. There’s an open sewage canal metres from the tarp-covered structure in which he lives. His makeshift latrine drains directly into it. On the canal’s bank, someone is making a traditional bread oven out of mud. It’s half-finished. Every day, mud is added to its walls to dry before the process is repeated.
			p “In the winter, the canal floods. It stinks,” Khalil says. 
			p A neighbour, Jomah, points to the filth that surrounds them and threatens to move back to Syria. Khalil scoffs. “Where will you go?” he asks, and then answers his own question. “To death.”
			p Khalil’s village is controlled by the so-called Islamic State. But for a while it was in the hands of other rebel groups. They stole everything they could so they could resell it, he says, even furniture from the school.
			p “Is the school for Assad? No. It was built by our efforts,” he says.
			p “We don’t have a moderate opposition. When they first started rebelling against Assad, everyone was with them. But then they started killing and kidnapping. They didn’t achieve anything.”
			p Things got worse when Islamic State moved into the village, Khalil says. “They came by force. They weren’t invited.”
			p Some of the first Islamic State fighters Khalil encountered didn’t even speak Arabic but conversed in a language he didn’t recognize. Others were foreign Arabs. “They thought they were fighting for Jerusalem, not Syria,” Khalil says, meaning they were inflamed with thoughts of international jihad rather than overthrowing the dictatorship of Bashar al-Assad in Syria.
			p But soon Islamic State began recruiting from among the poor in the region.
			p “They would slaughter you if you did anything. You had to abide by their rules all the time,” Khalil says. Women had to stay in the house. If seen unaccompanied in the streets, they would be publicly whipped. Khalil was jailed for a month after a search of his phone revealed he has been talking to a relative in the Syrian army. He was whipped and beaten but eventually released.
			p “I saw countless executions. They would gather a bunch of people and slaughter them, either by beheading or shooting. After the beheading, they would put heads on sticks for three days. They killed a lot of my neighbours, a lot of elders, for small mistakes. If you cursed God, you would be beheaded. If someone told Daesh you had spoken ill of them, they would behead you,” he says, referring to Islamic State by an Arabic acronym.
			p Khalil, his wife and children left their lives behind —the house they had worked for years to own and everything they couldn’t carry — and walked through the night to Kurdish-controlled territory in Hasakah province. The Syrian government controls part of Hasakah city, and Khalil and his family were able to get on a government plane to Damascus. He paid a smuggler about $1,000 to take his family to Lebanon.
			p “I wouldn’t call it a life,” Khalil says of his family’s existence in Lebanon.
			p Winter winds tear tarps from the structures in which families live. NGOs infrequently empty the latrines that don’t drain into the open canal. Many of the children have respiratory problems because of the dampness and lack of hygiene. Khalil already fears the summer when insects will descend on the place.
			p Khalil’s shack has a stove, a television and a sewing machine.
			p Under Islamic State, women were forbidden to wear anything but shapeless black cloth. Even patterns and shiny fabric were forbidden. Now women in the camp want clothing with colour and sequins. Khalil’s wife has established a business making it for them. “If not for my wife, we wouldn’t be able to support ourselves,” he says.
			p Ibrahim, the son Khalil fled Syria to save from Isis, now lives apart from him, scrounging for work in Beirut. Of the family’s eight children, only two go to school — although a couple of the younger ones attend “child-friendly spaces” provided by NGOs.
			p “When I was back in Syria, I wanted my kids to grow up and have an education and a good life,” Khalil says. “I still want that. But I have nothing to offer and see no hope.”

block scripts




	