doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/np_logo_outline.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type='text/javascript' src="javascripts/jquery-min.js")
    script(type='text/javascript' src="javascripts/jquery.fullpage.min.js")
    script(type='text/javascript' src="javascripts/nav-control.js")
    
  body
    block header
      header
        progress#progressBar(value=0)
        div#headerCont
          a.vc( href='http://www.nationalpost.com' target="_blank")
            img.logo(src='/images/icons/np_logo_full.svg' alt='np logo')
          div.navCont.vc
            a.vc.chapters.btn(href="#")
              img(src='/images/icons/chapt.svg' alt='chapters')
            a.vc.menu.btn(href='#')   
              img(src='/images/icons/nav.svg' alt='nav')
        div#chapters
          div.menuCont
            a(href="#intro")
              div.chapt.vc
                h2 I
                p INTRODUCTION
            a(href="#child-labour")
              div.chapt.vc
                h2 II
                p CHILD LABOUR
            a(href="#turkey")
              div.chapt.vc
                h2 III
                p TURKEY
            a(href="#lebanon")
              div.chapt.vc
                h2 IV
                p LEBANON
            a(href="#jordan")
              div.chapt.vc
                h2 IV
                p JORDAN
            a(href="#canada")
              div.chapt.vc
                h2 V
                p CANADA                        
        div#menu
          div.menuCont
            a(href="/feature")
              div.featureLink.vc
                div.transBox
                h2 Feature Story
                h3.byline By: Michael Petrou
            p.profiles Profiles    
            div.profilesCont
              a(href="/khalil")
                div.profile
              a(href="/fatima")
                div.profile
              a(href="/mohammed")
                div.profile
              a(href="/wadad")
                div.profile
              a(href="/abid")
                div.profile
            div.menu-travers-cont
              | This project was completed with financial support from
              a.menu-travers(href="http://cusjc.ca/travers/" target="_blank")
                img(src='/images/art/jt_logo.png' alt='Jim Travers Fellowship logo')
    div.inner
      block content
    block scripts
      script(type="text/javascript" src="/javascripts/feature-control.js")

      
