doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/np_logo_outline.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type='text/javascript' src="javascripts/jquery-min.js")
    script(type='text/javascript' src="javascripts/nav-control.js")
    
  body
    block header
      header
        progress#progressBar(value=0)
        div#headerCont
          div.titlesCont.vc
            a.vc( href='http://www.nationalpost.com' target="_blank")
              img.logo(src='/images/icons/np_logo_full.svg' alt='np logo')
            a.vc.hed-title(href="/")
              |THE EXODUS
          div.navCont.vc
            div.socialCont
              a(href='#')   
                img(src='/images/icons/ico_facebook.svg' alt='facebook')
              a(href='#')
                img(src='/images/icons/ico_twitter.svg' alt='twitter')
              //-a(href='https://twitter.com/share?text=The+Exodus+–+A+special+report+on+Syria+by+@michaelpetrou,+supported+by+@RJT_Fellowship&via=nationalpost' target="_blank")   
                img(src='/images/icons/ico_twitter.svg' alt='twitter')
            a.vc.menu.btn(href='#')   
              img(src='/images/icons/nav.svg' alt='menu')
        div#menu
          a(href="/feature")
            div.featureLink.vc
              div.transBox
              h2 Feature Story
              h3.byline By: Michael Petrou
          h5 Profiles
          div.menuCont
            a(href="/khalil")
              div.chapt.vc
                h2 Khalil
                p XXX
            a(href="/fatima")
              div.chapt.vc
                h2 Fatima
                p XXX
            a(href="/mohammed")
              div.chapt.vc
                h2 Mohammed
                p XXX
            a(href="/wadad")
              div.chapt.vc
                h2 Wadad
                p XXX
            a(href="/abid")
              div.chapt.vc
                h2 Abid
                p XXX
    div.inner
      block content
    block scripts
      script(type="text/javascript" src="/javascripts/feature-control.js")

      
