doctype html
html
  head
    title= `${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/np_logo_outline.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:url", content="https://www.nationalpost.com/syria-exodus")
    meta(property="fb:app_id" content="1273509809437610")
    meta(property="og:type", content="article")
    meta(property="og:title", content="The Greatest Exodus of Our Time")
    meta(property="og:description", content="The emptying of Syria is the greatest forced migration of humanity in modern times.")
    meta(property="og:image", content="https://www.nationalpost.com/syria-exodus/images/art/social-img.jpg")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@nationalpost")
    meta(name="twitter:title", content="The Greatest Exodus of our Time")
    meta(name="twitter:description", content="The emptying of Syria is the greatest forced migration of humanity in modern times. Millions of individually shattered lives will reshape the Middle East — and the world beyond — for generations to come. By: Michael Petrou")
    meta(name="twitter:image", content="https://www.nationalpost.com/syria-exodus/images/art/social-img.jpg")
    script(type='text/javascript' src="javascripts/jquery-min.js")
    script(type='text/javascript' src="javascripts/jquery.lazyload.min.js")
    script(type='text/javascript' src="javascripts/nav-control.js")
  body
    block header
      header
        progress#progressBar(value=0)
        div#headerCont
          div.titlesCont.vc
            a.vc( href='http://www.nationalpost.com' target="_blank")
              img.logo(src='/images/icons/np_logo_full.svg' alt='np logo')
            a.vc.hed-title(href="/")
              |EXODUS
          div.navCont.vc
            div.socialCont.vc
              a.fb(href='#' target="_blank")   
                img(src='/images/icons/ico_facebook.svg' alt='facebook')
              //- a(href='#')
              //-   img(src='/images/icons/ico_twitter.svg' alt='twitter')
              a.tw(href='https://twitter.com/share?text=The+Greatest+Exodus+of+our+Time+by+@michaelpetrou,+supported+by+@RJT_Fellowship&via=nationalpost' target="_blank")   
                img(src='/images/icons/ico_twitter.svg' alt='twitter')
            a.vc.menu.btn(href='#')   
              img(src='/images/icons/chapt.svg' alt='menu')
        div#menu
          a(href="/feature")
            div.featureLink.vc
              div.transBox
              h2 Feature Story
              h3.byline By Michael Petrou
          h5 Voices of the Exodus
          div.menuCont
            a(href="/khalil")
              div.chapt.vc
                h2 Khalil, 43
                p A father of eight and ISIL escapee
            a(href="/fatima")
              div.chapt.vc
                h2 Fatima of Daraa
                p A mother from the birthplace of the war
            a(href="/mohammed")
              div.chapt.vc
                h2 Syria St.
                p A portrait of a neighbourhood divided
            a(href="/wadad")
              div.chapt.vc
                h2 Wadad, mother
                p A Syrian-Palestinian refugee
            a(href="/abid")
              div.chapt.vc
                h2 Abid, fighter
                p A graduate of six Assad prisons
    div.inner
      block content
    block scripts
      script(type="text/javascript" src="/javascripts/feature-control.js")

      
