extends layout

block content
	style(type='text/css').
		html {
			background-color: #000;
		}
	div#profiles
		article
			div#intro.mohammed
				//- div.bgFallback
				//- 	img(src="/images/art/bg-mohammed.jpg" alt="")
				div.text.bg-gradient
					div.introParagraph
						h1 Mohammed
						h2 TRIPOLI, LEBANON
						p 
							span.firscharacter
								|W
							|e’re very proud of what we’ve accomplished in Syria, the Lebanese man says, flicking through videos on his smartphone as he sits outside a tiny stall on a quiet street in the northern Lebanese city of Tripoli. The buildings above him are pockmarked with bullet holes made during clashes between residents of this Alawite neighbourhood and the Sunni Muslims who live one street over.
				div.more-icon
					img(src="/images/icons/arrow.svg")
				p.photo-caption Joseph Eid/Getty Images
			div#intro-block
			p The man, who asks to be identified as Mohammad instead of by his real name, finds what he’s looking for. He appears on the smartphone video, not in scruffy blue jeans and a sweatshirt, but in uniform and carrying an assault rifle, surrounded by men dressed the same way.
			p At their feet kneels a middle-aged man in a loose and dirty white t-shirt with a gaping neck. His hair is disheveled. His face his clean-shaven but for a moustache. He says nothing and looks scared. His captors mock him and say he will soon be in prison. One of Mohammad’s comrades twice puts his foot on the man’s back and shoulders as if posing with a trophy.
			p “This is a Daesh fighter,” Mohammad says, using an Arabic acronym for the so-called Islamic State. “We found him in the sewers in Aleppo. He surrendered, and we handed him over to the Syrians. I don’t know what happened to him, but we treat our prisoners with respect. If they caught one of ours, they would have killed him right away.”
			p Mohammed fights with a Lebanese militia that supports Syrian President Bashar al-Assad against a collection of opposition groups. They cross the border easily, he says, and in Syria cooperate with Assad’s army, with the Lebanese militant group Hezbollah, and with Iranian officers who are in Syria to advise Assad. Two hundred Lebanese Alawites from his neighbourhood have fought in Syria, he says.
			p Evidence, including thousands of photographs of mangled corpses smuggled out of Syria, indicates that prisoners in the custody of the Syrian government are often murdered.
			p “If we lose in Syria, we will definitely lose in Lebanon. The war isn’t only in Syria. It’s here also,” Mohammad says.
			p Indeed, when not fighting in Syria, Mohammad has fought in Tripoli. The street just below this one is called Syria Street, and it’s as if the fault lines of that country have been transplanted to a few blocks in Lebanon’s second largest city.
			div.pq
				div.pq-bg
				div.pq-cont If we lose in Syria, we will definitely lose in Lebanon. The war isn’t only in Syria. It’s here also
			p Mohammad’s Alawite side of the divide is Jabal Mohsen. The Sunni neighbourhood metres away is Bab al-Tabbaneh. Unemployment is high in both places, leaving young men to loiter outside shops drinking thick coffee out of flimsy plastic cups. Several in Bab al-Tabbaneh — bug-eyed and fast-talking — are high on Captagon, an amphetamine popular with fighters in Syria’s civil war. Soldiers are everywhere, behind sandbags and inside armoured personnel carriers mounted with .50 calibre machine guns.
			p Dozens have died and hundreds have been wounded in fighting between the two neighbourhoods in recent years. And although the hostilities have roots stretching back to Lebanon’s own civil war of 1975-90, they have become far more acute because of the civil war in Syria.
			p “The Syrian crisis has affected the mindset of the people here,” says Ramzi, a Sunni resident of Bab al-Tabbaneh.
			p “When the Syrian war started, the people in Jabal Mohsen raised the image of Bashar al-Assad. We saw this as a provocation because we knew Assad was killing Sunnis. So we started to fight.”
			p Other clashes were triggered by Syrian government advances in the civil war, Ramzi says. “The Syrian army besieged one opposition area in Syria. That caused us to do the same to Jabal Mohsen.”
			p Sunnis in Bab al-Tabbaneh are less forthright than their neighbours in Jabal Mohsen about fighting in Syria — “If I say ‘yes,’ it’s four years in prison,” one says — but it’s clear that many have. Ramzi says several men from his neighbourhood fought with opposition groups in Syria, including with Islamic State of Iraq and the Levant.
			p Maysa Saif, who works with the civil society group Basmet Amal, which works trying to bridge sectarian divisions in Tripoli, says around 50 people from two nearby Sunni neighbourhoods have left for Syria, including families with young children. Some of the fighters were only 16 or 17, she says. 
			p And while Lebanese from Tripoli have departed for Syria, tens of thousands of Syrians have come here. Deputy Mayor Khaled Wolley puts the figure at 150,000 for the city and its suburbs.
			p The influx has inevitably affected sectarian relations within the city, too.
			p “They’re not refugees. They’re terrorists,” Mohammad, the Alawite from Jabal Mohsen, says.
			p Saif says refugees have imported an extremist ideology that is amplified in some local mosques. “Sheiks were trafficking fighters to Syria. I’ll say it publicly. I don’t care,” she says.
			div.pq
				div.pq-bg
				div.pq-cont They're not refugees. They're terrorists
			p Many Syrian refugee women have also married local Lebanese men. Saif says the women are often widowed and need the protection of marriage. Some of their new husbands are already married, resulting in large blended families.
			p Despite clashing views on the Syrian war, many Alawites and Sunnis in Tripoli share a resentment of Syrian refugees because they say the newcomers are stealing jobs and driving up rent.
			p “The Syrians have ruined everything. They do not let us work, because they’ll work for much less,” says Yusuf, a Sunni. “Each refugee has an iPhone 7. They’ll tell you they’re poor but they’re not.”
			p The perception that Syrians profit from their refugee status, benefitting from international aid while the Lebanese go without, is widespread.
			p “You have to help the Lebanese people, too, not just the Syrians,” says Deputy Mayor Wolley. Many NGOs and aid agencies try. Canada funds projects in Lebanon and Jordan that focus on entire neighbourhoods — host communities and refugees. Many UN agencies stress that they target all vulnerable people, regardless of their nationality or legal status.
			p But economic realities can dull the impact of these efforts. Wolley points to NGO programs that provide vocational training, but says there are no jobs. Funding simple make-work projects — cleaning the local river, for example — would be more useful.
			p.credit Canada is funding a small-scale project like that elsewhere in Lebanon, through Oxfam Quebec. But something similar wouldn’t solve all of Tripoli’s problems. Like people all over Lebanon, citizens here are struggling to adjust to a war that has spilled into their neighbourhoods.
			footer
block scripts

	