#slideout { 
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index:9997;
	background-color: rgba(0,0,0,0.92);
	transition: 0.12s opacity ease-out;
	//display: none;
	opacity: 0;
	pointer-events: none;

	&.active {
		//display: block;
		pointer-events: auto;
		opacity: 1;
	}

	.slideout-close {
		justify-content: center;
		position: fixed;
		box-shadow: 0 2px 6px rgba(0,0,0,0.36);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #fff;
		color: $black;
		user-select: none;
		transition: 0.15s background-color ease-out;
		float: left;
		margin: 80px 0 0 25px;
		cursor: pointer;
		z-index: 9999;
		&:hover {
			background-color: $yellow;
		}
	}
}

.feature {
	background-color: #fff;
	max-width: $width;
	width: 100%;
	position: relative;
	padding: 0 15px 0 15px;
	
	@include for-size(full-width-up) {
		margin: 0 auto;
		padding: 0;
	}

	

	h1 {
		width: calc(100% - 30px);
		max-width: $width;
		margin: 0 auto;
		padding: 0 15px;
	}

	.hed-overlay {
		width: 100%;
		height: 100vh;
		pointer-events: none;
	}

	.hed-img {
		height: 100vh;
		margin-top:30px;
		margin-bottom: 0;
		background-repeat: no-repeat;
		background-position: center;	
		pointer-events: none;
		background-size: cover;
		background-attachment: fixed;
		position: absolute;

		&.ft1{
			background-image: url(../images/art/ft-region-01.jpg);
		}
	}

	.gallery-btn {
		width: 140px;
		height:60px;
		border: 3px solid $black;
		cursor: pointer;
		padding: 0 10px;
		transition: 0.15s all ease-out;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		margin: 60px auto 60px auto; 

		&:hover {
			border-color: $deepred;
			width: 160px;
			padding: 0;
		}

		p {
			text-align: center;
			font-family: 'BentonSansCond-Regular',sans-serif;
			font-size:1.1rem;
			user-select: none;
			margin: 0;

			@include for-size(phone-only) {
				padding: 10px 0;
			}
		}

		@include for-size(desktop-up) {
			margin: 0;
			margin-left: 110px;
			float: left;

			&:hover {
				width: 140px;
			}
		}
	}

	.ft-img {
			height: 500px;
			box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
			margin: 80px 0 80px 0;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			overflow: hidden;
			opacity: 0.45;

		&.ft1{
			background-image: url(../images/art/lebanon-street-ft.jpg);
		}	
		&.ft2 {
			background-image: url(../images/art/girls-classroom-ft.jpg);
		}
		&.ft3 {
			background-image: url(../images/art/amman-street-ft.jpg);
		}

		@include for-size(phone-only) {
			height: 300px;
		}

		&.video {
			
		}

		&.video video {
			
			margin: 0 auto;
			// width: 100%;
			// height: 100%;

			@media (min-aspect-ratio: 16/9) {
			    width: 100%;
			    height: auto;
			    
			}

			@media (max-aspect-ratio: 16/9) {
			    width: auto;
			    height: 100%;
			    
			}
		}
	}

	.titleCont {
		width: 60%;
		max-width: 610px;
		height: 100vh;
		margin: 0 auto;
		position: relative;
		background-image: url(../images/art/syria-stamp.png);
		background-repeat: no-repeat;
		background-position: center 70px;
		background-size: 100%;

		@include for-size(tablet-portrait-up) {
			background-size: 320px;
		}
		@include for-size(full-width-down) {
			width: 100%;
			max-width: 600px;
			background-size: 65% !important;
		}

		.hedCont {
			width: 100%;
			padding-top: 90px;
			h1 {
				// padding: 90px 15px;
				font-family: 'MillerDisplay-Light',serif;
				text-align: center;
				color: $black;
				&.exodus {
					font-size: 10rem;
					font-family: 'MillerDisplay-Bold',serif;
					color: $deepred;
					text-shadow: 0 2px 0 rgb(0,0,0);
					letter-spacing: 0.24rem;
					margin-top:-20px;
				}
				&.the {
					font-size: 3.8rem;
				}
				&.greatest {
					font-size: 4.8rem;
					margin-top:-12px;
				}
				&.of {
					font-size: 3.2rem;
					margin-top: -12px;
				}
				&.gen {
					font-size: 6rem;
					margin-top: -8px;
				}

			}

			@include for-size(full-width-down) {
				h1 {
					&.exodus {
						font-size: 10rem;
						font-family: 'MillerDisplay-Bold',serif;
						color: $deepred;
						text-shadow: 0 2px 0 rgb(0,0,0);
						letter-spacing: 0.24rem;
						margin-top:-20px;
					}
					&.the {
						font-size: 3.8rem;
					}
					&.greatest {
						font-size: 4.8rem;
						margin-top:-12px;
					}
					&.of {
						font-size: 3.2rem;
						margin-top: -22px;
					}
					&.gen {
						font-size: 3.6rem;
						margin-top: -3px;
					}
				}
			}
			@include for-size(phone-only) {
				
				h1 {
					&.greatest {
						font-size: 3.6rem;
					}
					&.exodus {
						font-size: 14vw;
						margin-top:-16px;
					}
					&.of {
						margin-top: -10px;
					}
				}

			}
		}
		.ds {
			box-shadow: 0 1px 12px rgba(0,0,0,0.55);
		}
		.subCont {
			position: absolute;
			top: 56%;
			width: 100%;
			* {
				margin: 0 !important;
				width: 100% !important;
			}
			@include for-size(phone-only) {
				top: 48%;
			}

			h2.sub {
				border-top: 3px solid $lightgrey;
				font-family: 'MillerDisplay-Italic',serif;
				font-size: 1.6rem;
				line-height: 2.6rem;
				letter-spacing: 0.05rem;
				text-align: center;
				font-style: italic;
				// left: calc(50vw - 300px);
				// width: 65%;
				max-width:600px;
				background-color: rgba(0,0,0,0.8);
				padding: 20px;
				color: #fff;

				@include for-size(full-width-down) {
					margin: 0 !important;
					width: 100%;
				}

				@include for-size(tablet-landscape-up) {
					width: 100%;
				}

				@include for-size(phone-only) {
					width: 100%;
					//top: 300px;
					font-size:1.4rem;
					line-height: 2.2rem;
				}
			} //titleCont end

			h3.byline {
				font-family: 'MillerDisplay-Roman',serif;
				font-size: 2rem;
				text-align: center;
				color: $deepred;
				font-weight: 700;
				background-color: rgba(255,255,255,0.8);
				padding: 10px 20px 10px 20px;
				@include for-size(tablet-landscape-up) {
					width: 100%;
				}
				@include for-size(phone-only) {
					width:100%;
				}
			}
		} // end subConts
	}

	p {
		width: 100%;
		// max-width: $width;
		// margin: 0 auto;
		margin-bottom: 20px;
		// padding: 0 15px;

		&.first {
			margin-top: 160px !important;

			@include for-size(phone-only) {
				margin-top: 80px !important;
			}
		}

		&.caption {
			width: 100%;
			font-family: 'BentonSansCond-Bold',sans-serif;
			font-size: 1.4rem;
			text-align: right;
			margin-top: 10px;
			padding: 0;
		}

		span.firstcharacter {
			  color: $deepred;
			  float: left;
			  font-weight: 700;
			  font-size: 6rem;
			  line-height: 60px;
			  padding-top: 4px;
			  padding-right: 4px;
			  padding-left: 0px;
			  font-family: 'MillerDisplay-Roman',serif;
		}

		&.endCred {
			font-style: italic;
			font-family: 'MillerDisplay-Roman',serif;
			color: $grey;
			margin-top: 60px;

			@include for-size(phone-only) {
				margin-top: 40px;
			}
		}
	}

	.divider {
		width: 100%;
		height: 12px;
		margin: 60px 0 60px 0;
		background-image: url(/images/icons/divider.jpg);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
	}

	.pq {
		max-width: 100%;
		width: calc(100% - 30px);
		font-family:'MillerDisplay-Italic',serif;
		color: $deepred;
		font-size: 3.4rem;
		margin: 0 auto;
		margin-bottom: 60px;
		margin-top: 60px;
		font-weight: 600;
		font-style: oblique;
		background-image: url(../images/art/pq.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70px auto;

		.pq-cont {
			min-height: 100px;
			padding-top: 35px;
			width: 100%;
			text-align: center;
			max-width: $width;
			margin: 0 auto;
		}

		@include for-size(phone-only) {
			font-size: 2.6rem;
			margin: 45px 0 60px 0;
			line-height: 3.2rem;
			box-sizing: initial;
		}
	}

	.img-fw {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}

		@include for-size(phone-only) {
			margin: 0 auto;
			float: none !important;
			margin-bottom: 60px;
		}
	}

	.img-sm {
		&.left {
			float: left;
			margin-right: 5%;

			@include for-size(full-width-up) {
				margin-bottom: 20px;
			}
		}
		&.right {
			float: right;
			margin-left: 5%;
		}
		img {
			max-width: 500px;
			height: auto;
			width: 100%;
		}
		p.caption {

		}
		@include for-size(phone-only) {
			margin: 0 auto;
			float: none !important;
			margin-bottom: 60px;
		}
	}

	.iframeCont {
		margin: 60px 0 50px 0;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		iframe {
			max-width: $width;
			width: 100%;
			height: 500px;
			margin: 0 auto;

			@include for-size(phone-only) {
				height: 250px;
			}
		}
	}

	.locatorMap {
		margin: 0 auto;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 40px;
		img {
			width: 100px;
			height: auto;			
			padding: 0;
		}

		@include for-size(desktop-up) {
			float: left;
			margin: 0;
		 	margin-right: 60px;
			width: 150px;
			height: auto;
			img {
				width: auto;
				height: auto;
			}
		}
	}

	footer {
		height: 240px;
		margin-top: 120px;
		background-color: $deepred;
		padding: 20px;

		.credCont {
			color: #fff;
			p.cred {
				font-family: 'BentonSansCond-Bold',sans-serif;
				font-size: 1.2rem;
				line-height: 2rem;
				letter-spacing:0.07rem;

				span {
					font-family: 'MillerDisplay-Roman',sans-serif;
					font-size: 1.6rem;
				}
			}
			a {
				background-color: #fff;
				width: 200px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.16s background-color ease-out;

				img.footer-travers {
					width: 80%;
					height: auto;
				}

				&:hover {
					background-color: $lightyellow;
				}
			}
		}
	}
}