header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
  background-color: #fff;
  overflow: hidden;
  transition: 0.32s height ease-out;

  &.menuOpen {
    height: 100%;
    box-shadow: none;

    #headerCont .navCont a.chapters {
      opacity: 0.2;
      pointer-events: none;
    }

    #headerCont .navCont a.menu:after {
      content: 'Close';
    }

 }

   &.chaptersOpen {
    height: 100%;
    box-shadow: none;
    
    #headerCont .navCont a.chapters:after {
      content: "Return";
    }

     #headerCont .navCont a.menu {
       opacity: .2;
       pointer-events: none;
     }
   } 

  progress {
    z-index:-9999;
    width: 100%;
    height: 3px;
    position: absolute;
    
    color: $yellow;
    transition: 0.15s opacity ease-out;
    /* Reset the appearance */
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;

      /* Get rid of the default border in Firefox/Opera. */
      border: none;

      /* Progress bar container for Firefox/IE10+ */
      background-color: transparent;
    &.dis {
      opacity:0;
    }
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value {
    background-color: $yellow;
  }

  progress::-moz-progress-bar {
    background-color: $yellow;
  }

  #headerCont {
    margin: 10px 15px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 130px;
      height: 100%;
      transition: 0.15s all ease-out;    
      
      img.logo {
          cursor: pointer;
          height: auto;
          width: 100%;
        }
    }

    .navCont {
      width:200px;
      height: 100%;
      flex: display;
      justify-content: space-between;
      font-family: 'BentonSansCond-Medium';
      font-size: 1.2rem;

      @include for-size(phone-only) {
          width: 100px;
      }

      a {
        width: 50%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;

        &.chapters {
          padding-right:15px;
          img {
            width: 12px;
            height: auto;
          }

          &:after {
            content: 'Chapters';
            margin-left: 7px;
    
            @include for-size(phone-only) {
                display: none;
            }

          }        
        }

      &.menu {
        img {
          width: 22px;
          height: auto;
        }
        &:after {
          content: 'Menu';
          margin-left: 7px;

          @include for-size(phone-only) {
              display: none;
          }
        }
        
      }

      img.hover {
            fill: $deepred;
      }

      }
  }

  } //end #headerCont

  #menu, #chapters {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    
    .menuCont {
      width: 100%;
      max-width: $width;
      height: 100%;
      margin: 0 auto;

      div.menu-travers-cont {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.2rem;
        color: $lightgrey;
        font-family: "Spectral",serif;
        font-style: oblique;
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
        padding-top: 100px;

        @include for-size(phone-only) {
          padding-top: 50px;
          font-size: 1.2rem;
        }
        a.menu-travers {
          img {
            padding-top: 16px;
            width: 220px;
            height: auto;

          }

        }
        
      }
      .featureLink {
        width: 100%;
        height: 160px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        overflow: hidden;

        .transBox {
          background-image: url(/images/art/ft-region-01.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          opacity:0.35;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: -1;
          transition: 0.24s all ease-out;
        }

        h2 {
          color: $black;
          margin: 0;
          transition: 0.16s color ease-out;
        }
        h3.byline {
          color: $deepred;
          margin: 20px 0 0 0;
          font-family: 'Spectral',serif;
          font-size: 1.6rem;
        }

        &:hover {
          h2 {
            color: $deepred;
          }
          .transBox {
            transform: scale(1.08);
          }
        }
      }

      p.profiles {
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        font-family: 'Spectral',serif;
        font-style: oblique;
        font-size: 2rem;
        color: $grey;
        letter-spacing:0.12rem;
      }

      .profilesCont {
        width: 100%;
        margin-top: 24px;
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          margin-right: 25px;

          &:last-child {
            margin: 0;
          }

          .profile {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $black;
          } 

        }


      } //end profilesCont
    }
    

  } // end menu

  #chapters {
    .menuCont {
        display: flex;
        flex-direction: column; 
        height: 85vh;

      a{
        flex: 1;
        .chapt {
          cursor: pointer;
          transition: 0.22s background-color ease-out;
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          font-family:'Spectral',serif;
          color: $deepred;
          align-content: space-between;
          border-bottom: 1px dotted $grey;
          // padding-top: 15px;
          flex: 1;

          &:hover {
            background-color: rgba(244,222,179,0.8);
          }
          h2 {
            font-family:'Spectral',serif;
            font-size: 2.2rem;
            margin: 0 !important;
            padding: 0 !important;
          }
          p {
            color: $black;
            font-family:'Spectral',serif;
          }
      } 
      } // end chap
      
    } // end menuCont

  } //end #chapters

} //end header
