header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
  background-color: #fff;
  overflow: hidden;
  transition: 0.32s height ease-out;

  &.menuOpen {
    height: 100vh;
    box-shadow: none;

    #headerCont .navCont a.menu:after {
      content: 'Close';
    }
 }

  progress {
    z-index:-9999;
    width: 100%;
    height: 3px;
    position: absolute;
    
    color: $yellow;
    transition: 0.15s opacity ease-out;
    /* Reset the appearance */
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;

      /* Get rid of the default border in Firefox/Opera. */
      border: none;

      /* Progress bar container for Firefox/IE10+ */
      background-color: transparent;
    &.dis {
      opacity:0;
    }
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value {
    background-color: $yellow;
  }

  progress::-moz-progress-bar {
    background-color: $yellow;
  }

  #headerCont {
    margin: 10px 15px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 130px;
      height: 100%;
      transition: 0.15s all ease-out;    
      
      img.logo {
          cursor: pointer;
          height: auto;
          width: 100%;
        }
    }
    .titlesCont {
      display: flex;
      width: 280px;
      justify-content: space-between;
    }
    a.hed-title {
      font-family: 'MillerDisplay-Roman',serif;
      font-size:1.6rem;
      font-weight: 700;
      border-left: 1px solid $black;
      padding: 4px 0 0 20px;

      @include for-size(phone-only) {
        display: none;
      }
    }
    .navCont {
      width:220px;
      height: 100%;
      flex: display;
      justify-content: space-between;
      font-family: 'BentonSansCond-Medium';
      font-size: 1.2rem;

      @include for-size(phone-only) {
          width: 200px;
      }

      .socialCont {
        display: flex;
        justify-content: space-between;
        align-content: center;

        a {
          text-decoration: none;
          margin: 0;
          padding: 0;
          &:first-child {
            margin-right: 6px;
          }
          img {
            height: auto;
            width: 28px;
          }
        }
      }  

      a {
        width: 40%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
      &.menu {
        img {
          width: 22px;
          height: auto;
        }
        &:after {
          content: '';
          margin-left: 7px;

          @include for-size(phone-only) {
              display: none;
          }
        }
        
      }

      img.hover {
            fill: $deepred;
      }

      }
    }

  } //end #headerCont



  #menu {
    width: 100%;
    height: 100%;
    margin-top: 10px;

    @include for-size(phone-only) {
      margin-top: 20px;
    }
    .featureLink {
      width: 100%;
      height: 120px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      overflow: hidden;

      @include for-size(phone-only) {
        margin-top: 0;
      }

      .transBox {
        background-image: url(/images/art/ft-region-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity:0.35;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: 0.24s all ease-out;
      }

      h2 {
        color: $black;
        margin: 0;
        transition: 0.16s color ease-out;
      }
      h3.byline {
        color: $deepred;
        margin: 20px 0 0 0;
        font-family: 'MillerDisplay-Roman',serif;
        font-size: 1.6rem;
      }

      &:hover {
        h2 {
          color: $deepred;
        }
        .transBox {
          transform: scale(1.08);
        }
      }
     } 

     h5 {
      text-align: center;
      color: $grey;
      letter-spacing:0.09rem;
      font-size: 1.8rem;
      font-style: oblique;
      font-family:'MillerDisplay-Roman',serif;
      margin-top:30px
     }

    .menuCont {
        display: flex;
        flex-direction: column; 
        height: 60vh;
        margin-top:5px; 

      a {
        flex: 1;
        .chapt {
          cursor: pointer;
          transition: 0.22s background-color ease-out;
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          font-family:'MillerDisplay-Roman',serif;
          color: $deepred;
          align-content: space-between;
          border-bottom: 1px dotted $grey;
          // padding-top: 15px;
          flex: 1;

          &:hover {
            background-color: rgba(244,222,179,0.8);
          }
          h2 {
            font-family:'MillerDisplay-Roman',serif;
            font-size: 2rem;
            margin: 0 !important;
            padding: 0 !important;
            letter-spacing: 0.07rem;
          }
          p {
            color: $black;
            font-family:'BentonSansCond-Medium',sans-serif;
          }
        } 
      } // end chap
     
     @include for-height(small-phone-only) {
      height: 50vh;
      margin-top: 0;
      a .chapt h2 {
        font-size:1.8rem;
      }
      a .chapt p {
        font-size: 1.3rem;
      }
     }

    } // end menuCont

  } //end #chapters

} //end header
