#profiles {
	width: 100vw;
	background-color: $black;
	color: #fff;
	font-family:'BentonSans-Regular';
	padding: 30px 0 0 0;


	article {
		max-width: $width;
		margin: 0 auto;
		p {
			font-size: 1.5rem;
			margin-bottom: 20px;
			@include for-size(phone-only) {
				padding: 0 15px;
			}
		}

		p.credit:after {
			content: "—By Michael Petrou, as part of the 2017 R. James Travers Foreign Corresponding Fellowship";
			margin-top: 40px;
			display: block;
			color: $grey;
			// text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.2rem;
			font-style: oblique;
			font-family: 'BentonSans-RegularItalic','Arial','Helvetica',sans-serif !important;
		}
		// @include for-size(full-width-down) {
		// 	padding: 0 15px 0 15px;
		// }
		.pq {
			//max-width: 100%;
			width: 80%;
			font-family:'MillerDisplay-Italic',serif;
			color: $lightred;
			font-size: 3.4rem;
			margin: 0 auto;
			margin-bottom: 60px;
			margin-top: 60px;
			font-weight: 600;
			position: relative;
			background-image: none !important;

			.pq-bg {
				opacity:0.34;
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;left:0;
				background-image: url(../images/art/pq.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 70px auto;			
			}

			.pq-cont {
				min-height: 100px;
				padding-top: 35px;
				width: 100%;
				text-align: center;
				max-width: $width;
				margin: 0 auto;
			}

			@include for-size(phone-only) {
				font-size: 2.6rem;
				margin: 0 auto;
				margin-bottom: 60px;
				line-height: 3.2rem;
				box-sizing: initial;
			}
		}
		#intro-block {
			width: 100vw;
			height: 100vh;
			margin-bottom:40px;
		}
		#intro {
			width: 100vw;
			height: 100vh;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 0; top:0;
			p.photo-caption {
				position: absolute;
				margin: 0 15px 6px 0;
				letter-spacing: 0.06rem;
				bottom: 0;
				right: 0;
				text-align: right;
				color: #fff;
				font-family:'BentonSansCond-Medium',sans-serif;
				font-size:1.1rem;
				text-shadow:0 2px rgba(0,0,0,0.8);

				@include for-size(phone-only) {
					top: 55px;
					font-size:0.9rem;
				}
			}
			.more-icon {
				@include for-size(phone-only) {
					bottom: 2rem;
				}
			}
			&.khalil {
				background-image: url(../images/art/beqaa-camp-mud.jpg);
			}
			&.fatima {
				background-image: url(../images/art/bg-fatima.jpg);
			}
			&.mohammed {
				background-image: url(../images/art/bg-mohammed.jpg);
			}
			&.wadad {
				background-image: url(../images/art/bg-wadad.jpg);
			}
			&.abid {
				background-image: url(../images/art/bg-abid.jpg);
			}
			.text {
				overflow: hidden;
				padding: 100px 0 0 15px;
				width: 70% !important;
				.introParagraph {
					padding: 20px 0 20px 15px;
					width:80%;
					background-color: rgba(0,0,0,0.8);
					border-top: 3px solid $lightgrey;
					position: absolute;
					top:90px;left:0;
					h1 {
						font-family:'MillerDisplay-Roman',serif;
						font-size: 5rem;
						padding: 0;
						margin: 0;
						letter-spacing: 0.11rem;
					}
					h2 {
						font-family:'BentonSansCond-Medium',sans-serif;
						font-size: 1.4rem;
						letter-spacing: 0.85rem;
						margin: 0 0 30px 0;
						color: $grey;
						text-transform: uppercase;
					}
					p {
						padding: 0 !important;
					}
					p span {
						color: $lightred;
						float: left;
						font-weight: 700;
						font-size: 4.6rem;
						line-height: 50px;
						padding-right: 8px;
						padding-top:3px;
						padding-left: 0px;
						margin-bottom:-10px;
						font-family: 'MillerDisplay-Light',serif;
					}
					p:last-child:after {
						content: 'Continued below...';
						font-family:'BentonSans-RegularItalic',sans-serif;
						font-size: 1.1rem;
						text-align: center;
						margin-top: 0 auto;
						margin-top:30px;
						display: block;
						color: $lightgrey;
					}
					
				}

				&.bg-gradient {
					position: absolute;
					left:0;top:0;
					height: 100%;
					width: 100%;
					background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

					p, *:not(span) {
						text-shadow: 0 0 2px rgba(0,0,0,0.6);
						width: 70%;
					}
				}
				@include for-size(full-width-down) {
					width: 95% !important;
				}
				@include for-size(phone-only) {
					.introParagraph {
						width: 100%;
						h1 {
							font-size: 4rem;
						}
						h2 {
							font-size: 1.3rem;
						}
						p:last-child:after {
							display: none;
						}
					}
					&.bg-gradient {
						width: 100%;
						background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 40%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to right, rgba(0,0,0,0.85) 40%,rgba(0,0,0,0) 100%);
						p,*:not(span) {
							width: 90%;
						}
					}
				}
			}
		}

		footer {
			height: 220px;
			width: 100%;
			background-image: url(../images/art/syria-stamp.png);
			background-repeat: no-repeat;
			background-size: 90px auto;
			background-position: 50% 35%;
			@include for-size(phone-only) {
				height: 180px;
			}
		}

	}
}

#fullpage {
	background-color: $black !important;

	.section {
		background-color: none !important;
		color: #fff;
		padding: 0 !important;

		&.row {
			flex-direction: row;
		}

		&.col {
			flex-direction: column;
		}

		.sectionCont {
			width: 100%;
			height: inherit;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;

			.end {
				width: 100%;
				position: absolute;
				top: 92%;
				height: 60px;
				z-index:1;
				background-image: url(/images/art/syria-stamp.png);
				background-repeat: no-repeat;
				background-position: 50%;
			}

			&.prof1-top {
				background-image: url(/images/art/beqaa-camp-mud.jpg);
			}
		}

		.image {
			overflow: hidden;
			width: 50%;
			height: 100%;
			display:flex;
			
			&.left {
				order: 1;
			}
			&.right {
				order: 2;
			}
			&.center {
				align-items: center;
			}

			@include for-size(phone-only) {
				display: none;
			}

			img {
				display: inline;
				width: 100%;
				height: auto;

				&.full {
					width: auto !important;
					height: 100% !important;
				}

				&.center {

				}
			}
		}

	}
}