#profiles {
	width: 100vw;
	background-color: $black;
	color: #fff;
	font-family:'BentonSans-Regular';
	padding: 30px 0 100px 0;


	article {
		max-width: $width;
		margin: 0 auto;
		p {
			font-size: 1.4rem;
			margin-bottom: 20px;

			@include for-size(phone-only) {
				font-size: 1.25rem;
			}
		}
		@include for-size(full-width-down) {
			padding: 0 15px 0 15px;
		}
		#intro-block {
			width: 100vw;
			height: 100vh;
			margin-bottom:40px;
		}
		#intro {
			width: 100vw;
			height: 100vh;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 0; top:0;
			p.photo-caption {
				position: absolute;
				margin: 0 15px 6px 0;
				letter-spacing: 0.06rem;
				bottom: 0;
				right: 0;
				text-align: right;
				color: #fff;
				font-family:'BentonSansCond-Medium',sans-serif;
				font-size:1.1rem;
				text-shadow:0 2px rgba(0,0,0,0.8);
			}
			&.khalil {
				background-image: url(../images/art/beqaa-camp-mud.jpg);
			}
			&.fatima {
				background-image: url(../images/art/bg-fatima.jpg);
			}
			&.mohammed {
				background-image: url(../images/art/bg-mohammed.jpg);
			}
			&.wadad {
				background-image: url(../images/art/bg-wadad.jpg);
			}
			&.abid {
				background-image: url(../images/art/bg-abid.jpg);
			}
			.text {
				padding: 100px 0 0 15px;
				width: 70% !important;
				h1 {
					font-family:'MillerDisplay-Roman',serif;
					font-size: 5rem;
					padding: 0;
					margin: 0;
					letter-spacing: 0.11rem;
				}
				h2 {
					font-family:'BentonSansCond-Medium',sans-serif;
					font-size: 1.4rem;
					letter-spacing: 0.85rem;
					margin: 0 0 30px 0;
				}

				&.bg-gradient {
					position: absolute;
					left:0;top:0;
					height: 100%;
					width: 100%;
					background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

					p, * {
						text-shadow: 0 0 2px rgba(0,0,0,0.6);
						width: 70%;
					}
				}
				@include for-size(full-width-down) {
					width: 95% !important;
				}
				@include for-size(phone-only) {
					h1 {
						font-size: 4rem;
					}
					h2 {
						font-size: 1.3rem;
					}
					&.bg-gradient {
						width: 100%;
						background: -moz-linear-gradient(left, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 40%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to right, rgba(0,0,0,0.85) 40%,rgba(0,0,0,0) 100%);
						p,* {
							width: 90%;
						}
					}
				}
			}
		}

	}
}

#fullpage {
	background-color: $black !important;

	.section {
		background-color: none !important;
		color: #fff;
		padding: 0 !important;

		&.row {
			flex-direction: row;
		}

		&.col {
			flex-direction: column;
		}

		.sectionCont {
			width: 100%;
			height: inherit;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;

			.end {
				width: 100%;
				position: absolute;
				top: 92%;
				height: 60px;
				z-index:1;
				background-image: url(/images/art/syria-stamp.png);
				background-repeat: no-repeat;
				background-position: 50%;
			}

			&.prof1-top {
				background-image: url(/images/art/beqaa-camp-mud.jpg);
			}
		}

		.image {
			overflow: hidden;
			width: 50%;
			height: 100%;
			display:flex;
			
			&.left {
				order: 1;
			}
			&.right {
				order: 2;
			}
			&.center {
				align-items: center;
			}

			@include for-size(phone-only) {
				display: none;
			}

			img {
				display: inline;
				width: 100%;
				height: auto;

				&.full {
					width: auto !important;
					height: 100% !important;
				}

				&.center {

				}
			}
		}

	}
}