@font-face {
    font-family: 'BentonSans';
    src: url('/fonts/BentonSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans-RegularItalic';
    src: url('/fonts/BentonSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSans-Bold';
    src: url('/fonts/BentonSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSans-BoldItalic';
    src: url('/fonts/BentonSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansCond-Regular';
    src: url('/fonts/BentonSansCond-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansCond-Medium';
    src: url('/fonts/BentonSansCond-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansCond-Bold';
    src: url('/fonts/BentonSansCond-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-Light';
  src: url('/fonts/MillerDisplay-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-Roman';
  src: url('/fonts/MillerDisplay-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-SemiboldItalic';
  src: url('/fonts/MillerDisplay-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-Italic';
  src: url('/fonts/MillerDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Spectral:400,600,600i');

html {
  font-size:10px;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 5rem;
  font-family: 'BentonSans-Bold';
  // font-weight: 600;
  letter-spacing:-1px;
}
h2, h3, h4, h5, h6 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 1.8;
  font-size: 1.6rem;
  font-family: 'BentonSans';
}

p i {
  font-family: 'BentonSans-RegularItalic';
}

p b {
  font-family: 'BentonSans-Bold';

  i {
    font-family: 'BentonSans-BoldItalic';
  }
}
